<div class="notes-panel-item{{#if isFestival}} festival-note{{/if}}"
  {{#if isFestival}}style="border-left-color: {{color}}" {{/if}} data-action="openNote" data-page-id="{{id}}"
  data-journal-id="{{parentId}}" data-tooltip-html="{{{tooltipHtml}}}" data-tooltip-direction="RIGHT">
  <div class="note-item-icon" style="color: {{color}}">
    {{#if isImageIcon}}<img src="{{icon}}" alt="">{{else}}<i class="{{icon}}"></i>{{/if}}
    {{#if isHidden}}<i class="fas fa-eye-slash note-visibility-badge" data-tooltip
        aria-label="{{localize 'CALENDARIA.Common.Hidden'}}"></i>{{/if}}
    {{#if isSecret}}<i class="fas fa-lock note-visibility-badge" data-tooltip
        aria-label="{{localize 'CALENDARIA.Note.Visibility.Secret'}}"></i>{{/if}}
  </div>
  <div class="note-item-content">
    <div class="note-item-title">
      {{name}}
    </div>
    <div class="note-item-meta">
      <span class="note-item-time">{{timeLabel}}</span>
      {{#if repeatLabel}}<span class="note-item-repeat"><i class="fas fa-repeat"></i> {{repeatLabel}}</span>{{/if}}
      <span class="note-item-author">{{authorLabel}}</span>
    </div>
  </div>
  {{#if isOwner}}
    <button type="button" class="note-item-edit" data-action="editNote" data-page-id="{{id}}"
      data-journal-id="{{parentId}}" data-tooltip aria-label="{{localize 'CALENDARIA.ContextMenu.EditNote'}}">
      <i class="fas fa-edit"></i>
    </button>
  {{/if}}
</div>
