<footer class="preset-manager-footer">
  <div class="footer-left">
    <button type="button" data-action="importPreset"
      data-tooltip="{{localize 'CALENDARIA.PresetManager.ImportPresetTooltip'}}">
      <i class="fas fa-file-import"></i>
      {{localize "CALENDARIA.PresetManager.ImportPreset"}}
    </button>
    {{#if selected}}
      <button type="button" data-action="exportPreset"
        data-tooltip="{{localize 'CALENDARIA.PresetManager.ExportPresetTooltip'}}">
        <i class="fas fa-file-export"></i>
        {{localize "CALENDARIA.PresetManager.ExportPreset"}}
      </button>
    {{/if}}
    {{#if selected}}
      <button type="button" data-action="removePreset" data-preset-id="{{selected.id}}">
        <i class="fas fa-trash"></i>
        {{localize "CALENDARIA.Common.Delete"}}
      </button>
    {{/if}}
    <button type="button" data-action="addPreset">
      <i class="fas fa-plus"></i>
      {{localize "CALENDARIA.SettingsPanel.Preset.Add"}}
    </button>
  </div>
  <button type="button" data-action="savePresets" class="save-btn">
    <i class="fas fa-save"></i>
    {{localize "CALENDARIA.Common.Save"}}
  </button>
</footer>
