<div class="scroll-toolbar">
  <i class="fas fa-scroll toolbar-icon"></i>
  <span class="toolbar-title">{{localize "CALENDARIA.Chronicle.Title"}}</span>

  <div class="toolbar-actions">
    <select class="toolbar-select depth-select">
      {{#each depths}}
        <option value="{{this.id}}" {{#if this.active}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
    <button type="button" class="toolbar-btn" data-action="toggleEmptyDays"
      data-tooltip="{{#if showEmpty}}{{localize 'CALENDARIA.Chronicle.Mode.EventsOnly'}}{{else}}{{localize 'CALENDARIA.Chronicle.Mode.FullChronicle'}}{{/if}}">
      <i class="fas {{#if showEmpty}}fa-eye{{else}}fa-eye-slash{{/if}}"></i>
    </button>
    <button type="button" class="toolbar-btn" data-action="today" data-tooltip="{{localize 'CALENDARIA.Common.Today'}}">
      <i class="fas fa-calendar-day"></i>
    </button>
    <button type="button" class="toolbar-btn close-btn" data-action="closeScroll"
      data-tooltip="{{localize 'CALENDARIA.Common.Close'}}">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
