<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <fieldset data-section="moons-display">
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Display"}}
      {{#if isGM}}<button type="button" class="reset-section" data-action="resetSection" data-section="moons-display"
          title="{{localize "CALENDARIA.SettingsPanel.ResetSection.Tooltip"}}"><i
            class="fas fa-undo"></i></button>{{/if}}
    </legend>

    {{#if isGM}}
      <div class="form-group">
        <label for="showMoonPhases">{{localize "CALENDARIA.Settings.ShowMoonPhases.Name"}}</label>
        <div class="form-fields">
          <input type="checkbox" id="showMoonPhases" name="showMoonPhases" {{#if showMoonPhases}}checked{{/if}}>
        </div>
        <p class="hint">{{localize "CALENDARIA.Settings.ShowMoonPhases.Hint"}}</p>
      </div>
    {{/if}}
  </fieldset>

</section>
