<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <div class="button-row open-app-button">
    <button type="button" data-action="openFullCal">
      <i class="fas fa-external-link-alt"></i>
      {{localize "CALENDARIA.Common.Open"}}
    </button>
  </div>

  <div class="info-box">
    <i class="fas fa-info-circle"></i>
    <p>{{localize "CALENDARIA.SettingsPanel.FullCalTab.Info"}}</p>
  </div>

</section>
