<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <fieldset class="theme-colors-fieldset">
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Theme"}}</legend>

    <div class="form-group theme-selector">
      <label>{{localize "CALENDARIA.ThemeEditor.PresetSelect"}}</label>
      <div class="form-fields">
        <select name="themeMode">
          {{#each themeModes}}
            <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{#if showCustomColors}}
      <div class="custom-theme-editor">
        <div class="color-table">
          <div class="color-table-header">
            <span class="col-location"
              data-tooltip="{{localize 'CALENDARIA.ThemeEditor.Header.LocationHint'}}">{{localize "CALENDARIA.ThemeEditor.Header.Location"}}</span>
            <span class="col-usage"
              data-tooltip="{{localize 'CALENDARIA.ThemeEditor.Header.UsageHint'}}">{{localize "CALENDARIA.ThemeEditor.Header.Usage"}}</span>
            <span class="col-color"
              data-tooltip="{{localize 'CALENDARIA.ThemeEditor.Header.ColorHint'}}">{{localize "CALENDARIA.ThemeEditor.Header.Color"}}</span>
            <span class="col-hex"
              data-tooltip="{{localize 'CALENDARIA.ThemeEditor.Header.ColorCodeHint'}}">{{localize "CALENDARIA.ThemeEditor.Header.ColorCode"}}</span>
            <span class="col-reset"
              data-tooltip="{{localize 'CALENDARIA.ThemeEditor.Header.ResetHint'}}">{{localize "CALENDARIA.ThemeEditor.Header.Reset"}}</span>
          </div>
          {{#each themeCategories}}
            <div class="color-category-section">
              <div class="category-label">{{localize this.label}}</div>
              {{#each this.colors}}
                <div class="color-table-row">
                  <span class="col-location">{{localize this.componentLabel}}</span>
                  <span class="col-usage">{{localize this.label}}</span>
                  <span class="col-color">
                    <input type="color" name="colors.{{this.key}}" value="{{this.value}}" data-key="{{this.key}}">
                  </span>
                  <span class="col-hex">
                    <input type="text" class="color-hex" value="{{this.value}}" readonly>
                  </span>
                  <span class="col-reset">
                    <button type="button" class="reset-color" data-action="resetColor" data-key="{{this.key}}"
                      data-tooltip="{{localize 'CALENDARIA.Common.Reset'}}"
                      {{#unless this.isCustom}}disabled{{/unless}}>
                      <i class="fas fa-undo"></i>
                    </button>
                  </span>
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>

        <div class="button-row theme-actions">
          <button type="button" data-action="resetAllColors">
            <i class="fas fa-undo"></i>
            {{localize "CALENDARIA.ThemeEditor.ResetAll"}}
          </button>
          <button type="button" data-action="exportTheme">
            <i class="fas fa-download"></i>
            {{localize "CALENDARIA.ThemeEditor.Export"}}
          </button>
          <button type="button" data-action="importTheme">
            <i class="fas fa-upload"></i>
            {{localize "CALENDARIA.Importer.Import"}}
          </button>
        </div>
      </div>
    {{/if}}
  </fieldset>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.UIBehavior"}}</legend>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.StickyZones.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="stickyZonesEnabled" {{#if stickyZonesEnabled}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.StickyZones.Hint"}}</p>
    </div>
  </fieldset>

</section>
