<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <div class="button-row open-app-button">
    <button type="button" data-action="openMiniCal">
      <i class="fas fa-external-link-alt"></i>
      {{localize "CALENDARIA.SettingsPanel.OpenMiniCal"}}
    </button>
    <button type="button" data-action="closeMiniCal">
      <i class="fas fa-times"></i>
      {{localize "CALENDARIA.SettingsPanel.CloseMiniCal"}}
    </button>
    <button type="button" data-action="resetPosition" data-target="miniCal">
      <i class="fas fa-undo"></i>
      {{localize "CALENDARIA.Common.ResetPosition"}}
    </button>
  </div>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Display"}}</legend>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.ShowMiniCal.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="showMiniCal" {{#if showMiniCal}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.ShowMiniCal.Hint"}}</p>
    </div>

    {{#if isGM}}
      <div class="form-group">
        <label>{{localize "CALENDARIA.Settings.ForceMiniCal.Name"}}</label>
        <div class="form-fields">
          <input type="checkbox" name="forceMiniCal" {{#if forceMiniCal}}checked{{/if}}>
        </div>
        <p class="hint">{{localize "CALENDARIA.Settings.ForceMiniCal.Hint"}}</p>
      </div>
    {{/if}}

    {{#if isGM}}
      <div class="form-group">
        <label>{{localize "CALENDARIA.Settings.ShowToolbarButton.Name"}}</label>
        <div class="form-fields">
          <input type="checkbox" name="showToolbarButton" {{#if showToolbarButton}}checked{{/if}}>
        </div>
        <p class="hint">{{localize "CALENDARIA.Settings.ShowToolbarButton.Hint"}}</p>
      </div>
    {{/if}}

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.MiniCalControlsDelay.Name"}}</label>
      <div class="form-fields">
        <input type="range" name="miniCalControlsDelay" value="{{miniCalControlsDelay}}" min="1" max="10" step="1">
        <span class="range-value">{{miniCalControlsDelay}}s</span>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.MiniCalControlsDelay.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.AutoFade.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="miniCalAutoFade" {{#if miniCalAutoFade}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.AutoFade.Hint"}}</p>
    </div>

    <div class="form-group{{#unless miniCalAutoFade}} disabled{{/unless}}">
      <label>{{localize "CALENDARIA.Settings.IdleOpacity.Name"}}</label>
      <div class="form-fields">
        <input type="range" name="miniCalIdleOpacity" min="0" max="100" value="{{miniCalIdleOpacity}}"
          {{#unless miniCalAutoFade}}disabled{{/unless}}>
        <input type="number" class="range-value" min="0" max="100" value="{{miniCalIdleOpacity}}"
          style="width: 48px; flex: none" {{#unless miniCalAutoFade}}disabled{{/unless}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.IdleOpacity.Hint"}}</p>
    </div>

    {{#if isGM}}
      <div class="form-group">
        <label>{{localize "CALENDARIA.Settings.ConfirmSetDate.Name"}}</label>
        <div class="form-fields">
          <input type="checkbox" name="miniCalConfirmSetDate" {{#if miniCalConfirmSetDate}}checked{{/if}}>
        </div>
        <p class="hint">{{localize "CALENDARIA.Settings.ConfirmSetDate.Hint"}}</p>
      </div>
    {{/if}}
  </fieldset>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.StickyStates"}}</legend>
    <input type="hidden" name="miniCalStickySection" value="1">
    <p class="hint section-hint">{{localize "CALENDARIA.SettingsPanel.Hint.StickyStates"}}</p>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Common.StickyTimeControls"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="miniCalStickyTimeControls" {{#if miniCalStickyTimeControls}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.SettingsPanel.Hint.StickyTimeControls"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.SettingsPanel.Sticky.Sidebar"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="miniCalStickySidebar" {{#if miniCalStickySidebar}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.SettingsPanel.Hint.StickySidebar"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Common.LockPosition"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="miniCalStickyPosition" {{#if miniCalStickyPosition}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.SettingsPanel.Hint.StickyPosition"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.DisplayFormats"}} <a data-action="showTokenReference"
        data-context-type="date"><i class="fa-regular fa-circle-question"></i></a></legend>
    <p class="hint section-hint">{{localize "CALENDARIA.SettingsPanel.Hint.FormatSettings"}}</p>

    {{#each formatLocations}}
      <div class="format-location" data-location="{{id}}">
        <div class="form-group">
          <label>{{label}}</label>
        </div>

        <div class="format-row">
          <div class="format-column">
            <span class="format-label">{{localize "CALENDARIA.Format.GMFormat"}}</span>
            <select name="displayFormats.{{id}}.gmPreset" data-location="{{id}}" data-role="gm">
              {{#each gmPresetOptions}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
              {{/each}}
            </select>
            <input type="text" name="displayFormats.{{id}}.gmCustom" value="{{#if isCustomGM}}{{gmFormat}}{{/if}}"
              placeholder="D MMMM YYYY" class="format-custom-input {{#unless isCustomGM}}hidden{{/unless}}"
              data-location="{{id}}" data-role="gm">
          </div>

          <div class="format-column">
            <span class="format-label">{{localize "CALENDARIA.Format.PlayerFormat"}}</span>
            <select name="displayFormats.{{id}}.playerPreset" data-location="{{id}}" data-role="player">
              {{#each playerPresetOptions}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
              {{/each}}
            </select>
            <input type="text" name="displayFormats.{{id}}.playerCustom"
              value="{{#if isCustomPlayer}}{{playerFormat}}{{/if}}" placeholder="D MMMM YYYY"
              class="format-custom-input {{#unless isCustomPlayer}}hidden{{/unless}}" data-location="{{id}}"
              data-role="player">
          </div>
        </div>
      </div>
    {{/each}}
  </fieldset>

</section>
