<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <fieldset>
    <legend>{{localize "CALENDARIA.Editor.Section.TimeStructure"}}</legend>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.DaysPerYear"}}</label>
      <div class="form-fields">
        <input type="text" value="{{daysPerYearDisplay}}" disabled>
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Hint.DaysPerYearComputed"}}</p>
    </div>

    <div class="notice warning">
      <i class="fas fa-exclamation-triangle"></i>
      {{localize "CALENDARIA.Editor.Warning.TimeSettings"}}
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.HoursPerDay"}}</label>
      <div class="form-fields">
        <input type="number" name="days.hoursPerDay" value="{{calendar.days.hoursPerDay}}" min="1" step="1">
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.MinutesPerHour"}}</label>
      <div class="form-fields">
        <input type="number" name="days.minutesPerHour" value="{{calendar.days.minutesPerHour}}" min="1" step="1">
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.SecondsPerMinute"}}</label>
      <div class="form-fields">
        <input type="number" name="days.secondsPerMinute" value="{{calendar.days.secondsPerMinute}}" min="1" step="1">
      </div>
    </div>
  </fieldset>

  <fieldset class="time-summary">
    <legend>{{localize "CALENDARIA.Editor.Section.TimeSummary"}}</legend>
    <ul>
      <li>{{localize "CALENDARIA.Editor.Summary.SecondsPerDay" seconds=secondsPerDay}}</li>
      <li>{{localize "CALENDARIA.Editor.Summary.SecondsPerYear" seconds=secondsPerYear}}</li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>{{localize "CALENDARIA.Editor.Section.Daylight"}}</legend>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.DaylightEnabled"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="daylight.enabled" {{#if calendar.daylight.enabled}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Hint.DaylightEnabled"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.ShortestDay"}}</label>
      <div class="form-fields">
        <input type="number" name="daylight.shortestDay" value="{{calendar.daylight.shortestDay}}" min="0" max="{{calendar.days.hoursPerDay}}" step="0.5">
        <span class="units">{{localize "CALENDARIA.Editor.Units.Hours"}}</span>
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Hint.ShortestDay"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.LongestDay"}}</label>
      <div class="form-fields">
        <input type="number" name="daylight.longestDay" value="{{calendar.daylight.longestDay}}" min="0" max="{{calendar.days.hoursPerDay}}" step="0.5">
        <span class="units">{{localize "CALENDARIA.Editor.Units.Hours"}}</span>
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Hint.LongestDay"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.WinterSolstice"}}</label>
      <div class="form-fields">
        <input type="number" name="daylight.winterSolstice" value="{{calendar.daylight.winterSolstice}}" min="0" max="{{daysPerYear}}" step="1">
        <span class="units">{{localize "CALENDARIA.Editor.Units.DayOfYear"}}</span>
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Hint.WinterSolstice"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Editor.Field.SummerSolstice"}}</label>
      <div class="form-fields">
        <input type="number" name="daylight.summerSolstice" value="{{calendar.daylight.summerSolstice}}" min="0" max="{{daysPerYear}}" step="1">
        <span class="units">{{localize "CALENDARIA.Editor.Units.DayOfYear"}}</span>
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Hint.SummerSolstice"}}</p>
    </div>
  </fieldset>
</section>
