<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <fieldset>
    <legend data-tooltip aria-label="{{localize 'CALENDARIA.Editor.SectionTooltip.Festivals'}}">
      {{localize "CALENDARIA.Common.Festivals"}}
    </legend>
    {{#if festivalsWithNav.length}}
      <div class="items-list festivals-list">
        {{#each festivalsWithNav}}
          <div class="item festival-item" data-key="{{this.key}}">
            <div class="festival-main flexrow">
              <span class="col-icon festival-icon-display"
                style="color: {{#if this.color}}{{this.color}}{{else}}#d4af37{{/if}}">
                <i class="{{#if this.icon}}fas {{this.icon}}{{else}}fas fa-star{{/if}}"></i>
              </span>
              <input type="text" name="festivals.{{this.key}}.name" value="{{this.name}}"
                class="col-name festival-name">
              <span class="col-schedule hint">{{this.conditionSummary}}</span>

              <label class="col-weekday checkbox" data-tooltip
                aria-label="{{localize 'CALENDARIA.Editor.Tooltip.CountsForWeekday'}}">
                <input type="checkbox" name="festivals.{{this.key}}.countsForWeekday" {{#if (eq
            this.countsForWeekday
            false)}}checked{{/if}}>
                {{localize "CALENDARIA.Editor.Field.CountsForWeekday"}}
              </label>

              <div class="item-controls col-controls">
                <button type="button" data-action="editFestivalNote" data-key="{{this.key}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.EditFestival'}}">
                  <i class="fas fa-pen-to-square"></i>
                </button>
                <button type="button" data-action="refreshFestival" data-key="{{this.key}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.RefreshFestival'}}">
                  <i class="fas fa-sync"></i>
                </button>
                <button type="button" data-action="addFestival" data-key="{{this.key}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.AddFestival'}}">
                  <i class="fas fa-plus"></i>
                </button>
                <button type="button" data-action="removeFestival" data-key="{{this.key}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.RemoveFestival'}}">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="empty-list">
        <p>{{localize "CALENDARIA.Editor.NoFestivals"}}</p>
        <button type="button" data-action="addFestival" data-key="">
          <i class="fas fa-plus"></i>
          {{localize "CALENDARIA.Editor.AddFestival"}}
        </button>
      </div>
    {{/if}}
  </fieldset>
</section>
